[Desktop Entry]
Comment=An gpsMap Program
Comment[ca]=Un programa per a gpsMap
Comment[da]=Et gpsMap program
Comment[de]=Ein gpsMap-Program
Comment[el]=Ένα πρόγραμμα gpsMap
Comment[es]=Un programa gpsMap
Comment[et]=gpsMap programm
Comment[eu]=gpsMap programa bat
Comment[fa]=برنامۀ gpsMap
Comment[fr]=Un programme gpsMap
Comment[ga]=Clár gpsMap
Comment[gl]=Un programa gpsMap
Comment[hu]=gpsMap program
Comment[it]=Un programma per gpsMap
Comment[ja]=gpsMap プログラム
Comment[nds]=En gpsMap-Programm
Comment[ne]= gpsMap कार्यक्रम
Comment[nl]=Een gpsMap programma
Comment[pl]=Program gpsMap
Comment[pt]=Um Programa gpsMap
Comment[pt_BR]=Um Programa gpsMap
Comment[ru]=Программа gpsMap
Comment[sk]=gpsMap program
Comment[sl]=Program gpsMap
Comment[sr]=gpsMap програм
Comment[sr@Latn]=gpsMap program
Comment[sv]=Ett gpsMap-program
Comment[ta]=ஒரு gpsMap  நிரல் 
Comment[tg]=Барномаи gpsMap 
Comment[tr]=Bir gpsMap Programı
Comment[zh_CN]=一个 gpsMap 程序
Comment[zh_TW]=一個 gpsMap 程式
Exec=gpsmap
Icon=gpsMap
Type=Application
Name=gpsMap
Encoding=UTF-8
X-Ubuntu-Gettext-Domain=desktop_kdevelop
