[Desktop Entry]
Comment=An cityMap Program
Comment[ca]=Un programa per a cityMap
Comment[da]=Et cityMap program
Comment[de]=Ein cityMap-Program
Comment[el]=Ένα πρόγραμμα cityMap
Comment[es]=Un programa cityMap
Comment[et]=cityMap programm
Comment[eu]=cityMap programa bat
Comment[fa]=برنامۀ cityMap
Comment[fr]=Un programme cityMap
Comment[ga]=Clár cityMap
Comment[gl]=Un programa cityMap
Comment[hu]=cityMap program
Comment[it]=Un programma per cityMap
Comment[ja]=cityMap プログラム
Comment[nds]=En cityMap-Programm
Comment[ne]= cityMap कार्यक्रम
Comment[nl]=Een cityMap programma
Comment[pl]=Program cityMap
Comment[pt]=Um Programa cityMap
Comment[pt_BR]=Um Programa cityMap
Comment[ru]=Программа cityMap
Comment[sk]=cityMap program
Comment[sl]=Program cityMap
Comment[sr]=cityMap програм
Comment[sr@Latn]=cityMap program
Comment[sv]=Ett cityMap-program
Comment[ta]=ஒரு cityMap  நிரல் 
Comment[tg]=Барномаи cityMap 
Comment[tr]=Bir cityMap Programı
Comment[zh_CN]=一个 cityMap 程序
Comment[zh_TW]=一個 cityMap 程式
Exec=citymap
Icon=cityMap
Type=Application
Name=cityMap
Encoding=UTF-8
X-Ubuntu-Gettext-Domain=desktop_kdevelop
